# Playground

In [5]:
def get_hash(key):
    h = 0
    for char in key:
        print(f"Char: {char}, ord val : {ord(char)}")
        h += ord(char)

    return h%100

In [6]:
get_hash('Tanishq')

Char: T, ord val : 84
Char: a, ord val : 97
Char: n, ord val : 110
Char: i, ord val : 105
Char: s, ord val : 115
Char: h, ord val : 104
Char: q, ord val : 113

28

In [7]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

# Hash Table Class

In [32]:
class HashTable:

    def __init__(self) -> None:
        self.MAX = 100
        self.arr = [None for i in range(self.MAX)]

    def get_hash(self, key):

        h = 0
        for char in key:
            h+= ord(char)

        return h % self.MAX
    
    def assign_val(self, key, val):

        self.arr[self.get_hash(key)] = val 

    # def add_val(self, key, val):
    def __setitem__(self, key, val):

        h = get_hash(key)
        self.arr[h] = val

    def __getitem__(self, key):

        h = self.get_hash(key)
        return self.arr[h]
    
    def __delitem__(self, key):

        h = self.get_hash(key)
        self.arr[h]=None

In [33]:
string = 'Tanishq'

table1 = HashTable()
table1.get_hash(string)

28

In [34]:
# table1.assign_val(string, 1)
table1.__setitem__(string, 1000)
table1.__setitem__("test", 2000)

Char: T, ord val : 84
Char: a, ord val : 97
Char: n, ord val : 110
Char: i, ord val : 105
Char: s, ord val : 115
Char: h, ord val : 104
Char: q, ord val : 113
Char: t, ord val : 116
Char: e, ord val : 101
Char: s, ord val : 115
Char: t, ord val : 116

In [35]:
table1.__getitem__(string)

Char: T, ord val : 84
Char: a, ord val : 97
Char: n, ord val : 110
Char: i, ord val : 105
Char: s, ord val : 115
Char: h, ord val : 104
Char: q, ord val : 113

1000

In [36]:
table1.__getitem__('test')

Char: t, ord val : 116
Char: e, ord val : 101
Char: s, ord val : 115
Char: t, ord val : 116

2000

In [37]:
table1['drama'] = 3000

Char: d, ord val : 100
Char: r, ord val : 114
Char: a, ord val : 97
Char: m, ord val : 109
Char: a, ord val : 97

In [38]:
table1['drama']

Char: d, ord val : 100
Char: r, ord val : 114
Char: a, ord val : 97
Char: m, ord val : 109
Char: a, ord val : 97

3000

In [39]:
table1.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 3000,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 1000,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 2000,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [40]:
del table1['test']

Char: t, ord val : 116
Char: e, ord val : 101
Char: s, ord val : 115
Char: t, ord val : 116

In [41]:
table1['test']

Char: t, ord val : 116
Char: e, ord val : 101
Char: s, ord val : 115
Char: t, ord val : 116